$dark-blue: #0D47A1;
$green: #4CAF50;
$off-white: #F5F5F5;
$off-black: #212121;

$nav-background-color: $dark-blue;
$nav-secondary-color: $green;
$nav-accent-color: $off-white;
$nav-primary-text: $off-white;
$nav-secondary-text: $green;
$nav-accent-color: $off-black;

.thumbtail{
  &.thumbnail-thick-boarder {
    border: 4px solid #ddd;
  }
}

.navbar-inverse {
  background-color: $nav-background-color;
}
