%div.indented-text
  %h1
    Products Listing

  %div.button.add-margin-below
    = link_to 'Add Product', new_product_path

  %div
    - @products.each do |product|
      %div.link
        = link_to "#{product.name}", product
      %div.add-margin-below
        = product.description
